{% extends "layout.html" %} {% block title %} About {% endblock title %} 

{% block content %}
<h1>About MJ HUB</h1>
<p id = "aboutme">
  Hello! I'm Mide Jayeoba, a dedicated Python developer and current Computer Science student at FUTA. My passion lies in creating efficient, scalable, and impactful software solutions using Python. With a strong foundation in algorithms, data structures, and problem-solving, I strive to build applications that not only work seamlessly but also provide real value.

  In addition to my technical skills, I'm a skilled musician with a deep interest in the intersection of music and technology. As I continue honing my programming expertise, I'm excited to explore how Python and other tech tools can innovate within the music industry. My goal is to blend my technical knowledge with my creative side to push boundaries in music tech.
  
  Whether it’s developing Python-based applications or exploring music technology, I’m driven by a constant desire to learn, innovate, and make a difference. Let’s connect and create something amazing! <br>visit our
  <a href="/">homepage</a> now.
</p>
{% endblock content %}
